[build-system]
requires = ["setuptools>=61.0", "requests>=2.22.0",]
build-backend = "setuptools.build_meta"

[project]
name = "fred_py_api"
version = "0.0.6"
authors = [
  { name="Zachary Spar", email="zachspar@gmail.com" },
]
description = "A fully featured FRED API client library for Python."
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Intended Audience :: Science/Research",
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
  "requests>=2.22.0",
]

[project.urls]
"Homepage" = "https://github.com/zachspar/fred_py_api"
"Bug Tracker" = "https://github.com/zachspar/fred_py_api/issues"
